body {
  background: #c6eaee !important; /*color fondo de pagina*/
}



/*INICIO HEADER*/

img.logo {
  margin: auto;
  margin-left: 30%;
  width: 100%;
  flex-basis: 20rem;
  flex-grow: 1;
  min-width: 150px;
  transition: all 0.4s ease-in-out;
}

img.logo:hover {
  width: 102%;
}

ul.navbar {
  margin: auto;
  margin-left: 40%;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.navbar li a {
  color: black;
  font-size: 1.7vh;
  font-weight: lighter;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

ul.navbar li a:hover {
  color: rgb(224, 133, 21);
}

/*FIN HEADER*/

/*INICIO MAIN*/

main.main{
  margin-bottom: 18vh;
}

.container {
  width: 95%; /*total de tamaño a usar en pagina*/
  margin: 0 auto; /*margen 0 arriba y abajo, margen auto izq y der*/
  overflow: hidden;
}

/*inicio main-slider*/

.contenido-principal {
  margin-top: 16vh;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}

.contenido-principal__imagen {
  vertical-align: top;
  margin-right: 20px;
  width: 100%;
  max-width: 550px;

  transition: all 0.4s ease-in-out;
}

.contenido-principal__imagen:hover {
  vertical-align: top;
  margin-right: 20px;
  width: 100%;
  max-width: 560px;
}

.contenido-principal__contenedor {
  width: 50%;
  display: -webkit-inline-box;
}

.contenido-principal__titulo {
  font-weight: 600;
  font-size: 3vh;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans";
  transition: all 0.3s linear;
}

.contenido-principal__titulo:hover {
  color: rgb(255, 145, 0);
}

.contenido-principal__resumen {
  font-family: "Comic Sans MS", "Comic Sans";
  line-height: 2.3vh;
  color: #776c6c;
  text-align: center;
  transition: all 0.3s linear;
}

.contenido-principal__resumen:hover {
  color: rgb(7, 84, 134);
}

/* --- --- CAROUSEL --- --- */

img.carrusel {
  width: 100%;
}

div.portada {
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

div.portadat {
  margin: auto 1vh;
}

.carousel {
  max-width: 128vh;
  margin: auto;
  margin-top: 6vh;
}

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: rgb(0, 0, 0);
  opacity: 50%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -30px;
}

.carousel__siguiente {
  right: -30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: rgb(0, 0, 0);
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

/*fin main-slider*/

div.socialg {
  margin-left: 6vh;
  margin-top: 2vh;
}

a.socialg {
  text-decoration: none;
  background: transparent;
  margin: auto;
  border: none;
  color: black;
}

a.socialg.i:hover {
  color: rgb(199, 52, 204);
}

a.socialg.w:hover {
  color: rgb(27, 194, 55);
}

a.socialg.c:hover {
  color: rgb(31, 35, 255);
}

a.socialg:hover {
  cursor: pointer;
}

svg.bi.bi {
  width: 3vh;
}

svg.bi.bi-telephone {
  display: -webkit-box;
  margin-top: 1vh;
  width: 3vh;
}

h2.numero {
  margin-top: -3vh;
  margin-left: 3vh;
  font-size: 2vh;
  display: -webkit-box;
}
/*FIN MAIN*/
